[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.3.1"
astroid = "==2.5.1"
bandit = "==1.7.0"
certifi = "==2020.12.5"
chardet = "==4.0.0"
colorama = "==0.4.4"
django-cors-headers = "==3.7.0"
django-crontab = "==0.7.1"
django-environ = "==0.4.5"
djangorestframework = "==3.12.2"
djangorestframework-simplejwt = "==4.6.0"
flake8 = "==3.8.4"
gitdb = "==4.0.5"
idna = "==2.10"
isort = "==5.7.0"
jsonfield = "==3.1.0"
lazy-object-proxy = "==1.5.2"
lxml = "==4.6.2"
mccabe = "==0.6.1"
pbr = "==5.5.1"
psycopg2 = "==2.8.6"
pycodestyle = "==2.6.0"
pyflakes = "==2.2.0"
pykml = "==0.2.0"
pylint = "==2.7.2"
pytz = "==2021.1"
requests = "==2.25.1"
six = "==1.15.0"
smmap = "==3.0.5"
sqlparse = "==0.4.1"
stevedore = "==3.3.0"
toml = "==0.10.2"
urllib3 = "==1.26.3"
wrapt = "==1.12.1"
Django = "==3.1.7"
GDAL = {file = "file:///C:/Users/Kevin/Downloads/GDAL-3.2.2-cp39-cp39-win_amd64.whl"}
GitPython = "==3.1.14"
Pillow = "==8.1.2"
PyJWT = "==2.0.1"
PyYAML = "==5.4.1"

[dev-packages]

[requires]
python_version = "3.9"
