# You need to create a .env file with the following parameters to fit your environment's needs
# For more informations, see: https://django-environ.readthedocs.io/en/latest/

DEBUG=on
SECRET_KEY=your-secret-key
EMAIL_HOST_USER=email_host
EMAIL_HOST_PASSWORD=email_password
EMAIL_MANAGER=example@gmail.com
DATABASE_URL=psql://urser:un-githubbedpassword@127.0.0.1:8458/database